---
layout: archive_smaller_font
author_profile: true
---

<script>window.twttr = (function(d, s, id) {
     var js, fjs = d.getElementsByTagName(s)[0],
         t = window.twttr || {};
           if (d.getElementById(id)) return t;
             js = d.createElement(s);
               js.id = id;
                 js.src = "https://platform.twitter.com/widgets.js";
                   fjs.parentNode.insertBefore(js, fjs);

                     t._e = [];
                       t.ready = function(f) {
                              t._e.push(f);
                                };

                                  return t;
}(document, "script", "twitter-wjs"));</script>

{% include base_path %}

<p>
<b>Message from the organization team:</b>
</p>

<p>
We thank all SSBSE followers and attendees for making it a successful event with 26 high-quality keynotes, paper presentations, and tutorials.
</p>

<p>
Impressions from the event can be found in our <a href="/photos" target="_blank">photo gallery</a>.
</p>

<p>
It was a pleasure for us to meet you in Paderborn and we are looking forward to seeing you again in Montpellier next year. We hand SSBSE over to Benoit Baudry, the general chair of <a href="http://ssbse18.irisa.fr/" target="_blank">SSBSE 2018</a>
</p>

<p>
Lars Grunske<br>
Tim Menzies<br>
Justyna Petke
</p>

{% include paginator.html %}

<hr>

<iframe src="https://docs.google.com/presentation/d/1EQURuBFscuY3vcZGsOHOPlGpggdPcCNs_4SFRWGmKaI/embed?start=false&loop=false&delayms=60000" frameborder="0" width="100%" height="299" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
