---
layout: archive
author_profile: true
---

<script>window.twttr = (function(d, s, id) {
     var js, fjs = d.getElementsByTagName(s)[0],
         t = window.twttr || {};
           if (d.getElementById(id)) return t;
             js = d.createElement(s);
               js.id = id;
                 js.src = "https://platform.twitter.com/widgets.js";
                   fjs.parentNode.insertBefore(js, fjs);

                     t._e = [];
                       t.ready = function(f) {
                              t._e.push(f);
                                };

                                  return t;
}(document, "script", "twitter-wjs"));</script>

{% include base_path %}

<a href="/images/flier.jpg"><img width=480 src="/images/flier.jpg"></a>

{% include paginator.html %}

<hr>

<iframe src="https://docs.google.com/presentation/d/1EQURuBFscuY3vcZGsOHOPlGpggdPcCNs_4SFRWGmKaI/embed?start=false&loop=false&delayms=60000" frameborder="0" width="480" height="299" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
