---
layout: archive
author_profile: true
---

{% include base_path %}


<iframe src="https://docs.google.com/presentation/d/1EQURuBFscuY3vcZGsOHOPlGpggdPcCNs_4SFRWGmKaI/embed?start=false&loop=false&delayms=60000" frameborder="0" width="480" height="299" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}

<hr>

<h3>Share our flier!</h3>
<center>
<a href="https://github.com/ssbse17/ssbse17.github.io/raw/master/images/flier.jpg"><img width=480 src="https://github.com/ssbse17/ssbse17.github.io/raw/master/images/flier.jpg"></a>
