{% include base_path %}

<link rel="stylesheet" href="../css/calendar_icon.css">

{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src=
        {% if s.image contains "://" %}
          "{{ s.image }}"
        {% else %}
          "{{ s.image | prepend: "/images/" | prepend: base_path }}"
        {% endif %}
        alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
    {% endfor %}
    {% if page.sidebar.nav %}
      {% include nav_list nav=page.sidebar.nav %}
    {% endif %}
  {% endif %}

  <center>
  <time datetime="2017-04-07" class="calendar_icon">
  <em>Friday</em>
  <strong>April</strong>
  <span>07</span>
  </time>
  </center>
         
  <p><b>Important Dates</b></p>
  <p><b>Research Track</b><br>
     - Abstract Submission, Mar 31<br>
     - Paper Submission, Apr 07<br>
     - Notification, May 14<br>
     - Camera Ready, Jun 14
  </p>
  <p><b>Short Paper, Student and Challenge Tracks</b><br>
     - Paper Submission, May 21<br>
     - Notification, Jun 07<br>
     - Camera Ready, XXX
  </p>

  <a href="https://easychair.org/account/signin.cgi?key=40759349.WchbrTn9c31v0OQS" target="_blank" class="btn btn--block">Submit Here</a>


  </div>
{% endif %}
