{% include base_path %}

<link rel="stylesheet" href="../css/calendar_icon.css">

{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar">

  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src=
        {% if s.image contains "://" %}
          "{{ s.image }}"
        {% else %}
          "{{ s.image | prepend: "/images/" | prepend: base_path }}"
        {% endif %}
        alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
    {% endfor %}
    {% if page.sidebar.nav %}
      {% include nav_list nav=page.sidebar.nav %}
    {% endif %}
  {% endif %}


  <center>
  <p>
  SSBSE'17 will be hosted in Paderborn, Germany, September 09-11.
  </p>
  <p>
  The conference will be co-located with <a href="http://esec-fse17.uni-paderborn.de/" target="_blank">FSE'17</a>
  </p>
  </center>

  <center>
  <time datetime="2017-03-31" class="calendar_icon">
  <em>Friday</em>
  <strong>March</strong>
  <span>31</span>
  </time>
  </center>

  <!--<p><b>Important Dates</b></p>-->
  <!--<p><b>Research Track</b><br>-->
  <center>
  <p><b>Submission</b><br>
     Mar31: Abstracts<br>
     Apr07: Papers<br>
     May10: Notification<br>
     Jun07: Camera Ready<br>
  </p>
  <p><b>Submission</b><br>
     May18: Short Papers<br>
     May18: Student Papers<br>
     May18: Challenge Track<br>
     Jun04: Notification<br>
     Jun11: Camera Ready<br>
  </p>
  </center>

  <a href="https://easychair.org/conferences/?conf=ssbse2017" target="_blank" class="btn btn--block">Submit Here</a>


  </div>
{% endif %}
