{% include base_path %}

<link rel="stylesheet" href="../css/calendar_icon.css">

{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sponsorbar" style="float:right;">

  <center>
  <p>
  <b>SSBSE'17 is supported by:</b>
  </p>
   <a href="https://www.adesso.de/en/index.jsp" target="_blank"><img src="../images/adesso_logo.jpg"></a><br><br>
   <a href="http://crest.cs.ucl.ac.uk/about/" target="_blank"><img src="../images/crest_logo.png"></a>
  </center>
  </div>
{% endif %}
